
.limeHighlight, .limeHighlight td{
  background-color: lime;
}

.selected-list p{
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}
.selected-item-list{
  list-style: decimal inside;
  font-size: 1.5em;
  padding: 0px;
}

.selected-item-rated{
  border: 1px solid black;
  border-radius: .5em;
  padding: 10px;
}

.photo-display-list .photo-box{
  height: 300px;
  text-align: center;
  position:relative;
}
.photo-display-list img{
  height: 100%;
}

.handlebars-display-field{
  height: 300px;
  text-align: center;
}

.handlebars-display-field img{
  height: 100%;
  max-width: 100%;
}

.col-sort-header{
  color: #337ab7;
  text-decoration: none;
}

.col-sort-header:hover{
  text-decoration: underline;
  cursor: pointer;
}

.list-making-tools .glyphicon{
  cursor: pointer;
}

.table-striped>tbody>tr:nth-of-type(odd){
  background-color: #f7f7fb;
}

.blue{
  color: blue;
}

@media only screen and (min-width: 1200px){
  .container {
      /*width: 1300px;*/
  }
}