<div class="col-md-12">
  <div class="first-two-columns" ng-controller="RatingListController as list ">
    <div class="col-md-3 master-list">
      <sortable-table list-data="list" col-one="'name'" col-two="'score'" check-action="'addOrRemoveFromRatedItems'"></sortable-table>
    </div>
    <div class="col-md-4 selected-list">
      <user-selected-list></user-selected-list>
    </div>
  </div> <!-- end RatingListCotnroller -->
  <div class="col-md-5 photo-display-list " ng-controller="PhotoDisplayController as photos">
    <div class="photo-box">
      <img ng-src="{{photos.chosenPhoto.photo_url}}" alt="{{photos.chosenPhoto.title}}">
    </div>
    <sortable-table list-data="photos" col-one="'title'" col-two="'year'" check-action="'pickPhoto'"></sortable-table>
  </div> <!-- end PhotoDisplayController -->
</div>

<div class="col-md-12" ng-include="'text-content/angularjs-sortable-table-commentary.html'"> 
</div>